<a href="https://colab.research.google.com/github/saadkhalidabbasi/EDA-Projects/blob/main/Student_Dropout_Analysis_and_Prediction_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Importing Libraries**

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

### **Data Loading**

In [7]:
df=pd.read_csv('student dropout.csv')
df.head()

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,...,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,False
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,False
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School                       649 non-null    object
 1   Gender                       649 non-null    object
 2   Age                          649 non-null    int64
 3   Address                      649 non-null    object
 4   Family_Size                  649 non-null    object
 5   Parental_Status              649 non-null    object
 6   Mother_Education             649 non-null    int64
 7   Father_Education             649 non-null    int64
 8   Mother_Job                   649 non-null    object
 9   Father_Job                   649 non-null    object
 10  Reason_for_Choosing_School   649 non-null    object
 11  Guardian                     649 non-null    object
 12  Travel_Time                  649 non-null    int64
 13  Study_Time                   649 non-null    int64
 14  Number_of_Failures           649 non-null    int64
 15  School_Support               649 non-null    object
 16  Family_Support               649 non-null    object
 17  Extra_Paid_Class             649 non-null    object
 18  Extra_Curricular_Activities  649 non-null    object
 19  Attended_Nursery             649 non-null    object
 20  Wants_Higher_Education       649 non-null    object
 21  Internet_Access              649 non-null    object
 22  In_Relationship              649 non-null    object
 23  Family_Relationship          649 non-null    int64
 24  Free_Time                    649 non-null    int64
 25  Going_Out                    649 non-null    int64
 26  Weekend_Alcohol_Consumption  649 non-null    int64
 27  Weekday_Alcohol_Consumption  649 non-null    int64
 28  Health_Status                649 non-null    int64
 29  Number_of_Absences           649 non-null    int64
 30  Grade_1                      649 non-null    int64
 31  Grade_2                      649 non-null    int64
 32  Final_Grade                  649 non-null    int64
 33  Dropped_Out                  649 non-null    bool
dtypes: bool(1), int64(16), object(17)
memory usage: 168.1+ KB

In [10]:
df.isnull().sum()

School                         0
Gender                         0
Age                            0
Address                        0
Family_Size                    0
Parental_Status                0
Mother_Education               0
Father_Education               0
Mother_Job                     0
Father_Job                     0
Reason_for_Choosing_School     0
Guardian                       0
Travel_Time                    0
Study_Time                     0
Number_of_Failures             0
School_Support                 0
Family_Support                 0
Extra_Paid_Class               0
Extra_Curricular_Activities    0
Attended_Nursery               0
Wants_Higher_Education         0
Internet_Access                0
In_Relationship                0
Family_Relationship            0
Free_Time                      0
Going_Out                      0
Weekend_Alcohol_Consumption    0
Weekday_Alcohol_Consumption    0
Health_Status                  0
Number_of_Absences             0
Grade_1                        0
Grade_2                        0
Final_Grade                    0
Dropped_Out                    0
dtype: int64